.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
./venv39

# Built Visual Studio Code Extensions
*.vsix

# files
*.mp4
*.mp3
*.png
./*.json
./*.code-workspace